.wrapperinstructorOnlineLeasson{
    text-align: center;
}

.titleInstructorOnlineLeassonF{
    font-size: 52px;
    font-weight: 500;
    color: #643843;
    margin-bottom: 54px;
}

.leassonFrst{
    margin-bottom: 90px;
}

.titleSentHW{
    font-size: 32px;
    font-weight: 500;
    color: #643843;
}